<div class="main-container">
    <h2>Overall Stats</h2>
    <div class="container">
        <div class="stats-container">
            <h2>PvP</h2>
            <p>kills: {{user.generalStatsPvp.kills}} </p>
            <p>deaths: {{user.generalStatsPvp.deaths}} </p>
            <p>kd: {{user.generalStatsPvp.kd}} </p>
            <p>assists: {{user.generalStatsPvp.assists}} </p>
            <p>headshots: {{user.generalStatsPvp.headshots}} </p>
            <p>melee kills: {{user.generalStatsPvp.meleeKills}} </p>
            <p>penetration kills: {{user.generalStatsPvp.penetrationKills}} </p>
            <p>blind kills: {{user.generalStatsPvp.blindKills}} </p>
            <p>Down But Not Out: {{user.generalStatsPvp.dbno}} </p>
            <p>Down But Not Out assists: {{user.generalStatsPvp.dbnoAssists}} </p>
            <p>revives: {{user.generalStatsPvp.revives}} </p>
            <p>wins: {{user.generalStatsPvp.wins}} </p>
            <p>losses: {{user.generalStatsPvp.losses}} </p>
            <p>win rate: {{user.generalStatsPvp.winRate}} </p>
            <p>matches: {{user.generalStatsPvp.matches}} </p>
            <p>playtime: {{user.generalStatsPvp.playtime}} </p>
            <p>gadgets destroyed: {{user.generalStatsPvp.gadgetsDestroyed}} </p>
            <p>rappel breaches: {{user.generalStatsPvp.rappelBreaches}} </p>
            <p>barricades deployed: {{user.generalStatsPvp.barricadesDeployed}} </p>
            <p>>reinforcements deployed: {{user.generalStatsPvp.reinforcementsDeployed}} </p>
            <p>suicides: {{user.generalStatsPvp.suicides}} </p>
            <p>distance travelled: {{user.generalStatsPvp.distanceTravelled}} </p>
            <p>xp: {{user.generalStatsPvp.xp}} </p>
        </div>
        <div class="pve-stats-container">
            <h2>PvE</h2>
            <p>kills: {{user.generalStatsPve.kills}} </p>
            <p>deaths: {{user.generalStatsPve.deaths}} </p>
            <p>kd: {{user.generalStatsPve.kd}} </p>
            <p>assists: {{user.generalStatsPve.assists}} </p>
            <p>headshots: {{user.generalStatsPve.headshots}} </p>
            <p>melee kills: {{user.generalStatsPve.meleeKills}} </p>
            <p>penetration kills: {{user.generalStatsPve.penetrationKills}} </p>
            <p>blind kills: {{user.generalStatsPve.blindKills}} </p>
            <p>revives: {{user.generalStatsPve.revives}} </p>
            <p>wins: {{user.generalStatsPve.wins}} </p>
            <p>losses: {{user.generalStatsPve.losses}} </p>
            <p>win rate: {{user.generalStatsPve.winRate}} </p>
            <p>matches: {{user.generalStatsPve.matches}} </p>
            <p>playtime: {{user.generalStatsPve.playtime}} </p>
            <p>gadgets destroyed: {{user.generalStatsPve.gadgetsDestroyed}} </p>
            <p>rappel breaches: {{user.generalStatsPve.rappelBreaches}} </p>
            <p>barricades deployed: {{user.generalStatsPve.barricadesDeployed}} </p>
            <p>reinforcements deployed: {{user.generalStatsPve.reinforcementsDeployed}} </p>
            <p>suicides: {{user.generalStatsPve.suicides}} </p>
            <p>distance travelled: {{user.generalStatsPve.distanceTravelled}} </p>
            <p>xp: {{user.generalStatsPve.xp}} </p>
        </div>
    </div>
</div>