<div class="main-container">
    <h2>Overall Stats</h2>
    <div class="container">
        <div class="stats-container">
            <h2>PvP</h2>
            <p>Kills: {{user.generalStatsPvp.kills}} </p>
            <p>Deaths: {{user.generalStatsPvp.deaths}} </p>
            <p>K/D: {{user.generalStatsPvp.kd}} </p>
            <p>Assists: {{user.generalStatsPvp.assists}} </p>
            <p>Headshots: {{user.generalStatsPvp.headshots}} </p>
            <p>Melee Kills: {{user.generalStatsPvp.meleeKills}} </p>
            <p>Penetration Kills: {{user.generalStatsPvp.penetrationKills}} </p>
            <p>Blind Kills: {{user.generalStatsPvp.blindKills}} </p>
            <p>Down But Not Out: {{user.generalStatsPvp.dbno}} </p>
            <p>Down But Not Out Assists: {{user.generalStatsPvp.dbnoAssists}} </p>
            <p>Revives: {{user.generalStatsPvp.revives}} </p>
            <p>Wins: {{user.generalStatsPvp.wins}} </p>
            <p>Losses: {{user.generalStatsPvp.losses}} </p>
            <p>Win Rate: {{user.generalStatsPvp.winRate}} </p>
            <p>Matches: {{user.generalStatsPvp.matches}} </p>
            <p>Playtime: {{user.generalStatsPvp.playtime}} </p>
            <p>Gadgets Destroyed: {{user.generalStatsPvp.gadgetsDestroyed}} </p>
            <p>Rappel Breaches: {{user.generalStatsPvp.rappelBreaches}} </p>
            <p>Barricades Deployed: {{user.generalStatsPvp.barricadesDeployed}} </p>
            <p>Reinforcements Deployed: {{user.generalStatsPvp.reinforcementsDeployed}} </p>
            <p>Suicides: {{user.generalStatsPvp.suicides}} </p>
            <p>Distance Travelled: {{user.generalStatsPvp.distanceTravelled}} </p>
            <p>XP: {{user.generalStatsPvp.xp}} </p>
        </div>
        <div class="pve-stats-container">
            <h2>PvE</h2>
            <p>Kills: {{user.generalStatsPve.kills}} </p>
            <p>Deaths: {{user.generalStatsPve.deaths}} </p>
            <p>KD: {{user.generalStatsPve.kd}} </p>
            <p>Assists: {{user.generalStatsPve.assists}} </p>
            <p>Headshots: {{user.generalStatsPve.headshots}} </p>
            <p>Melee Kills: {{user.generalStatsPve.meleeKills}} </p>
            <p>Penetration Kills: {{user.generalStatsPve.penetrationKills}} </p>
            <p>Blind Kills: {{user.generalStatsPve.blindKills}} </p>
            <p>Revives: {{user.generalStatsPve.revives}} </p>
            <p>Wins: {{user.generalStatsPve.wins}} </p>
            <p>Losses: {{user.generalStatsPve.losses}} </p>
            <p>Win Rate: {{user.generalStatsPve.winRate}} </p>
            <p>Matches: {{user.generalStatsPve.matches}} </p>
            <p>Playtime: {{user.generalStatsPve.playtime}} </p>
            <p>Gadgets Destroyed: {{user.generalStatsPve.gadgetsDestroyed}} </p>
            <p>Rappel Breaches: {{user.generalStatsPve.rappelBreaches}} </p>
            <p>Barricades Deployed: {{user.generalStatsPve.barricadesDeployed}} </p>
            <p>Reinforcements Deployed: {{user.generalStatsPve.reinforcementsDeployed}} </p>
            <p>Suicides: {{user.generalStatsPve.suicides}} </p>
            <p>Distance Travelled: {{user.generalStatsPve.distanceTravelled}} </p>
            <p>XP: {{user.generalStatsPve.xp}} </p>
        </div>
    </div>
</div>