<div class="operator-stats-container">
    <div class="operator-stats-header">
        <h2>Operator Stats</h2>
    </div>
    <ul>
        <div class="row">
            <li class="operator-stats-body" *ngFor="let operator of user.generalStatsPvp.character">
                <div class="column">
                    <div class="operator-card">
                        <img [src]="operator.icon" [alt]="operator.name" width="150" height="150">
                        <div class="operator-body">
                            <h2>{{operator.name}}</h2>
                            <p>Kills: {{operator.kills}}</p>
                            <p>Deaths: {{operator.deaths}}</p>
                            <p>KD: {{operator.kd}}</p>
                            <p>Headshots: {{operator.headshots}}</p>
                            <p>Melee Kills: {{operator.meleeKills}}</p>
                            <p>Down But Not Out: {{operator.dbno}}</p>
                            <p>Wins: {{operator.wins}}</p>
                            <p>Losses: {{operator.losses}}</p>
                            <p>Win Rate: {{operator.winRate}}</p>
                            <p>Matches: {{operator.matches}}</p>
                            <p>Playtime: {{operator.playtime}}</p>
                            <p>XP: {{operator.xp}}</p>
                            <div *ngIf="operator.uniqueAbility.name != ''">
                                <ul class="ability-card">
                                    <li>
                                        <img [src]="operator.uniqueAbility.icon">
                                        <p>{{operator.uniqueAbility.name}}</p>
                                        <ul class="ability-stats-card">
                                            <li *ngFor="let stats of operator.uniqueAbility.stats">
                                                <p>{{stats.name}}: {{stats.value}}</p>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </div>
    </ul>
</div>